@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:wght@300&display=swap');

body{
    font-family:'Montserrat', sans-serif;
    background-color: rgb(212, 255, 195);
    color:rgb(20, 20, 20);
}

.header_div{
    background-color: rgb(250, 250, 250);
}

.header_div p{
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.header_div h2{
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 2px;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

#copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #ffffff;
    line-height: 3;
    text-align: center;
    color: rgb(153, 153, 153);
    font-family: sans-serif;
}